<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Item Catalog</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">
    <link href="/static/album.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user_session['user'] != -1 %}
      <a class="navbar-brand" style="color:white;">{{ user_session['user']['name'] }}</a>
        {% endif %}
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          {% if user_session['user'] != -1 %}
            <a class="nav-link" >{{ user_session['user']['email'] }} <span class="sr-only">(current)</span></a>
            {% endif %}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            {% for c in categories %}
              <a class="dropdown-item" href="{{url_for('showCategory', category_id = c.id)}}">{{c.name}}</a>
              {% endfor %}
            </div>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
        {% if user_session['user'] != -1 %}
           <a class="nav-link" href="{{url_for(login)}}">Log in</a>
           {% else %}
           <a class="nav-link" href="{{url_for(logout)}}">Log in</a>
           {% endif %}
        </form>
      </div>
    </nav>

    </br>
    </br>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to {{c.name}}</h1>
        <p class="lead text-muted"></p>
        <p>
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
             data-category="{{c.category_id}}">New Item</button>
      </div>
    </section>
    
    <div class="container">

       <div class="album text-muted">
      <div class="container">

        <div >
        <ol>
        {% for i in items %}
          <li class="card">
            <img src="{{i.picture}}"  style="width:150px;height:60px;" alt="Card image cap">
            <h3>{{i.name}}</h3>
            <p class="card-text">{{i.description}}</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
            data-name="{{i.name}}" data-description="{{i.description}}" data-picture="{{i.picture}}"
            data-id="{{i.id}}" data-category="{{i.category_id}}">Edit</button>
            <a class="btn btn-lg btn-danger" href="{{url_for('deleteItem', item_id = i.id)}}" >delete</a>
          </li>
          {% endfor %}
        </div>
        </ol>
      </div>
    </div>

   
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('editItem')}}" method = "post">
          <div class="form-group">
            <label for="name-name" class=" col-form-label">Name:</label>
            <input type="text" name="name" class="name form-control" >
            <input type="hidden" class="id" name="item_id" >
          </div>
          <div class="form-group">
            <label for="description-name" class="col-form-label">Description:</label>
            <input type="text" name="description" class="description form-control" >
          </div>
          <div class="form-group">
            <label for="picture-name" class=" col-form-label">Picture:</label>
            <input type="text" name="picture" class="picture form-control" >
          </div>
          <select name="category_id" class="category form-control">
          {% for c in categories %}
          <option value="{{c.id}}">{{c.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
        </form>
    </div>
  </div>
</div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" ></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var name = button.data('name')
    var description = button.data('description')
    var picture = button.data('picture')
var id = button.data('id')
var category = button.data('category')    // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('Edit ' + name)
  modal.find('.modal-body .name').val(name)
  modal.find('.modal-body .id').val(id)
  modal.find('.modal-body .description').val(description)
  modal.find('.modal-body .picture').val(picture)
  modal.find('.modal-body .category').val(category)
})
</script>
</html>
